@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta charset="UTF-8" />
    <title>Basketball King</title>
    <style>
        table{
            border-collapse:collapse;
        }
        td, th{
            border: 1px solid #ccc;
            padding:6px;
        }
        th:empty{
            border:0;
        }
    </style>
    <script>src = "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script>
    <script>
        $(function () {
            var col, el;
            $("input[type=radio]").click(function () {
                el = $(this);
                col = el.data("col");
                $("input[data-col=" + col + "]").prop("checked", false);
                el.prop("checked", true);
            });
        });
    </script>
</head>

<div class="text-center">
    <h1 class="display-4">Basketball King</h1>
</div>
<h1>Players</h1>
<table class="table table-bordered">
    <tr>
        <th></th>
        <th>P1</th>
        <th>P2</th>
    </tr>

    @foreach (var player in Model.Players)
    {
        <tr>
            <td>@player.Name</td>
            <td><input type="radio" name=@player.Name data-col="1" /></td>
            <td><input type="radio" name=@player.Name data-col="2" /></td>
        </tr>
    }
</table>